*{
    margin:0;
    padding:0;
    box-sizing:boader-box;
    }

    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('../imagenes/loading_01.svg') 50% 50% no-repeat #5f2c82;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right,#602c82c5, #49a09da8), url('../imagenes/loading_01.svg') 50% 50% no-repeat;
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #602c82a4,#49a09dbd), url('../imagenes/loading_01.svg') 50% 50% no-repeat;
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
     
        opacity: 100%;
    }
    

    body{
        font-family: 'Open Sans', sans-serif;


        background: #5f2c82;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right,#602c82c5, #49a09da8), url(../imagenes/Espacio-Estrellas-Galaxias-Nebulosas-HD-Pics.jpg);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #602c82a4,#49a09dbd), url(../imagenes/Espacio-Estrellas-Galaxias-Nebulosas-HD-Pics.jpg);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
        height: 650px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .boton-preguntar{
        background: #49408C;        
        border: none;
        display: block;
        width: 80%;
        margin: 10px auto;
        color: #EBEBEB;
        height: 40px;
        font-size: 16px;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
    }


    h1{
        text-align: center;
        font-weight: 700;
        color: #49408C;
    }

    form{
        background: #EBEBEB;
        padding: 50px 50px;
        box-shadow: 0 0 6px 0 #EBEBEB;
        border-radius: 8px;
    }

    .grupo{
        position: relative;
        margin: 15px ;
    }

    input{
        background: none;
        color: #71706F;
        font-size: 12px;
        padding: 10px 5px 5px 5px;
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px #71706F;
    }

    input:focus{ 
        outline: none;
        color: #5e5d5d;
    }

 

  .datos-form{
        color: #71706F;
        font-size: 12px;
        position: absolute;
        left: 5px;
        top: 10px;
        transition: 0.5s ease all;
        pointer-events: none;
    }

    input:focus~label,
    input:valid~label{
        top: -8px;
        font-size: 12px;
        color: #71706F;
    }

    .foto-form {     
        text-align: center;
        color: #EBEBEB;
        background-color: #6f65b844;
        display: block;
        padding: .5em 1em;
        width: 21em;
        text-align: center;
    }
     
   

    input[type="file"] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }

    img{
    text-align: center;
    width: 80px;
    height: 80px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
   

      h3{
        color: #71706F;
        font-size: 16px;
        font-weight: 400;
        position: absolute;
        text-align: center;
    }

    a{
        color: #71706F;
        font-size: 12px;
        font-weight: 400;
        position: absolute;
        text-decoration: none;
        margin-right: 40px;
        text-align: center;
        padding: 0px 0px 0px 20px
    }

    h4{
        color: #71706F;
        font-size: 12px;
        font-weight: 400;
        position: absolute;
        left: 5px;
        top: -10px;
    }

    .categorias-select{
        position: relative;
        width: 280px;
        top: 8px;

    }

    .detalle-textarea{
        position: relative;
        width: 280px;
        top: 8px;

    }

    .IdEscondido{
        width: 0.1px;       
        height: 0.1px;         
        opacity: 0;        
        overflow: hidden;        
        position: absolute;
        z-index: -1;
    }

    .botonabrir{
        background: #49408C;        
        border: none;
        display: block;
        width: 80%;
        margin: 10px auto;
        color: #EBEBEB;
        height: 40px;
        font-size: 16px;
        cursor: pointer;
        font-family: 'Open Sans', sans-serif;
    }


    input[type="submit"]:hover {
        background-color: #7369bd54; 
        box-shadow: 0px 8px 15px #49408C;
        border-radius: 6px;
    }


    /* ////////////////////////    VENTANA MODAL */

    .fondo_transparente{
        top: 0;
        left: 0;
        background: #49408c2a;
        backdrop-filter: blur(5px);
        position: absolute;
        height: 100vh;
        width: 100%;
        display: none;
        z-index: 100;
    }
    .modal{
        background: linear-gradient(0deg,#EBEBEB 70%, #49408C 30%);
        width: 600px;
        height: 300px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 30px;

    }
    .modal_cerrar{
        background: #EBEBEB;
        position: absolute;
        right: -20px;
        color: #49408C ;
        top: -20px;
        width: 40px;
        height: 40px;
        border-radius: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .modal_titulo{
        color: #EBEBEB;
        font-size: 40px;
    }
    .modal_mensaje{            
       padding: 10px 30px;
    }
    .modal_botones{      
        width: 100%;    
       background: #EBEBEB;
       border-top:#EBEBEB 1px;
       padding-top: 20px;
       display: flex;
       justify-content: space-evenly;
    }        

